{% extends 'components/template.html' %}
{% block body %}
<div class="blog-post">
    <h3>Data</h3>
    <div class="expanded button-group">
        <a class="button" id="raw" href='javascript:load(".{{raw}}")'>Data Raw</a>
        <a class="button{% if(final_head == 0) %} disabled{% endif %}" id="final" href='javascript:load(".{{final}}")'>Data Hasil Preprocess</a>
    </div>      
    <table width="100%">
        <thead>
            <tr id="tableHead"></tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
    <a href="javascript:prevPage()" id="btn_prev" style="visibility:hidden">Prev</a>
    <a href="javascript:nextPage()" id="btn_next" style="visibility:hidden">Next</a>
    <div id="page_div" style="visibility:hidden">page: <span id="page"></span></div>
</div>
</div>

<script>
    var objJson;
    var header;
    var current_page = 1;
    var records_per_page = 15;
    var tableHead = document.getElementById('tableHead');
    function display(file_path){
        request = new XMLHttpRequest();
        request.open('GET', file_path, true);

        request.onload = function() {
            if (request.status >= 200 && request.status < 400){
                objJson = JSON.parse(request.responseText);
                header = Object.keys(objJson[0])
                tableHead.innerHTML = "";
                header.forEach(element => {
                    tableHead.innerHTML += "<th>" + element + "</th>";
                });
                changePage(1);
                console.log(header);
            } else {
                // TODO: Display error
            }
        };

        request.onerror = function() {
            // There was a connection error of some sort
        };

        request.send();
    }

    function prevPage()
    {
        if (current_page > 1) {
            current_page--;
            changePage(current_page);
        }
    }

    function nextPage()
    {
        if (current_page < numPages()) {
            current_page++;
            changePage(current_page);
        }
    }
                    
    function changePage(page)
    {
        var btn_next = document.getElementById("btn_next");
        var btn_prev = document.getElementById("btn_prev");
        var tableBody = document.getElementById("tableBody");
        var page_span = document.getElementById("page");
        var page_div = document.getElementById("page_div");

        btn_next.style.visibility = "visible";
        btn_prev.style.visibility = "visible";
        page_div.style.visibility = "visible";
            
        // Validate page
        if (page < 1) page = 1;
        if (page > numPages()) page = numPages();

        tableBody.innerHTML = ""

        for (var i = (page-1) * records_per_page; i < (page * records_per_page) && i < objJson.length; i++) {
            var isi = "";
            header.forEach(element => {
                isi += "<td>" + objJson[i][element] + "</td>";
            });
            tableBody.innerHTML += isi;
        }
        page_span.innerHTML = page + "/" + numPages();

        if (page == 1) {
            btn_prev.style.visibility = "hidden";
        } else {
            btn_prev.style.visibility = "visible";
        }

        if (page == numPages()) {
            btn_next.style.visibility = "hidden";
        } else {
            btn_next.style.visibility = "visible";
        }
    }

    function numPages()
    {
        return Math.ceil(objJson.length / records_per_page);
    }

    function load(data){
        objJson = display(data);
    }

</script>
{% endblock %}