{% extends 'components/template.html' %}
{% block body %}
<div class="blog-post">
    <h3>Filtering Data</h3>
    <form action="{{url_for('prepos')}}" method="post" enctype="multipart/form-data">
        <label>Which Column?
            <select name="case_id" id="case_id">
                {% for element in head %}
                <option value="{{ loop.index - 1 }}">{{ element|e }}</option>
                {% endfor %}
            </select>
        </label>
        {# 
            TODO:Filtering 
        #}
        <div class="expanded button-group">
            <button type="submit" name="submit" class="button">Preprocess</button>
            <a class="success button" href="{{ url_for('display') }}">Finish</a>
        </div>
    </form>
</div>
</div>
{% endblock %}