{% extends 'components/template.html' %}
{% block body %}
<div class="blog-post">
    <h3>Upload Dataset</h3>
    <form action="{{url_for('upload')}}" method="post" enctype="multipart/form-data">
        <label for="file" class="button">Choose File</label>
        <input class="show-for-sr" type="file" name="file" id="file" aria-describedby="uploadHelp">
        <p class="help-text" id="uploadHelp">File yang digunakan merupakan file csv</p>
        <br>
        <button type="submit" name="submit" class="button">Upload</button>
    </form>
</div>
</div>
{% endblock %}