{% extends 'components/template.html' %}
{% block body %}
<div class="blog-post">
    <h3>Preprocessing Data</h3>
    <form action="{{url_for('prepos')}}" method="post" enctype="multipart/form-data">
        <label>Case Id
            <select name="case_id" id="case_id">
                {% for element in head %}
                <option value="{{ loop.index - 1 }}">{{ element|e }}</option>
                {% endfor %}
            </select>
        </label>
        <label>Task
            <select name="task" id="task">
                {% for element in head %}
                <option value="{{ loop.index - 1 }}">{{ element|e }}</option>
                {% endfor %}
            </select>
        </label>
        <label>Timestamp
            <select name="timestamp" id="timestamp">
                {% for element in head %}
                <option value="{{ loop.index - 1 }}">{{ element|e }}</option>
                {% endfor %}
            </select>
        </label>
        <button type="submit" name="submit" class="button">Preprocess</button>
    </form>
</div>
</div>
{% endblock %}