<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }}</title>
<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Flow</li>
      {% if title != 'Upload' %}
      <li><a href="{{ url_for('display') }}">Display</a></li>
      <li><a href="{{ url_for('prepos') }}">Preprocess</a></li>
      <li><a href="{{ url_for('filter') }}">Filter</a></li>
      <li><a href="{{ url_for('graph') }}">Graph</a></li>
      {% endif %}
    </ul>
  </div>
  {% if title != 'Upload' %}
  <div class="top-bar-right">
    <ul class="menu align-right">
      <li><a class="button alert" href="{{ url_for('delete') }}">Delete Data</a></li>
    </ul>
  </div>
  {% endif %}
</div>
{# 
  TODO: tambahin modal kalo ada kesalahan 
#}
<div class="row medium-8 large-7 columns" style="margin-top: 16px;">
  {% block body %}

  {% endblock %}

<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
